<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tiny App</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1>TinyApp</h1>
    <a href="/urls">URLS</a> | <a href="/urls/new/">Create New URL</a>
    <br>
    <% if (username) { %>
      <form method="POST" action='/logout'>
        <%= `Logged in as ${username}` %>
        <button class="btn btn-primary" type="submit">Signout</button>
      </form>
    <% } else { %>
      <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Username">
      <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
    <% } %>
</body>
</html>